NODE_ENV=development

PORT=3000

DATABASE_URL="postgresql://userexample:example@localhost:5432/exampledb?schema=public"

// api keys for communication between api server and notification bot
// use 'openssl rand -hex 32' in your terminal to generate
API_TO_BOT_KEY=
BOT_TO_API_KEY=